 h1 {
  font-family: 'Book Antiqua';
  font-size: 1.6rem;
  text-align: center;
 }

 h2 {
  font-family: 'Book Antiqua';
  font-size: 1.2rem;
 }

 blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  unicode-bidi: isolate;
  padding: 5px 15px 10px 15px;
  border-radius: 20px;
  background-color: #c8c8c833;
  border: 3px solid #cac8c8;
 }

* {
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
  }

  body {
    font-family: "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Noto Sans SC", "PingFang SC", "Microsoft YaHei", sans-serif;
    background: linear-gradient(90deg,rgba(238,238,238,1) 10%,transparent 0), linear-gradient(rgba(238,238,238,1) 10%,transparent 0), url(/imgs/bg.png);
    background-size: 20px 20px, 20px 20px, contain;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    margin:0;
    padding:0;
  }
  .Header {
    font-size: 25px;
    height: 80px;
    margin: 0px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 40px;
    background-color: #dedede70;
    border-bottom-width:4px;
    border-bottom-style:solid;
    border-bottom-color:#d0d0d0b0;
    font-family: 'Book Antiqua', 'Palatino Linotype';
  }
  .Header a:link {color: #505050; text-decoration: none;}
  .Header a:visited {color: #505050; text-decoration: none;}
  .Header a:hover, a:active {color: #000000; text-decoration: underline;}

  .MainPage {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 140px;
    padding: 20px;
    background-color: #dedede70;
    box-shadow:0px 0px 20px #afafaf;
  }
  .MainPage a:link {color: #a43339; text-decoration: none;}
  .MainPage a:visited {color: #a43339; text-decoration: none;}
  .MainPage a:hover, a:active {color: #e80914; text-decoration: none;}

  .Footer {
    margin-top: -80px;
    height: 80px;
    z-index: 9999;
    clear: both;
    background-color: #dedede00;
    padding-top: 5px;
    padding-left: 15%;
    padding-right: 15%;
  }

  .wrap {
    min-height: 100%;
  }
   
  /* 列后面清除浮动 */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .round_icon{
    width: 150px;
    height: 150px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
